<hr>
<!-- SiteSearch Google -->
<form method=GET action="https://www.google.co.jp/search">
<p>
<input type=text name=q size=31 maxlength=255 value="">
<input type=hidden name=hl value="ja">
<input type=hidden name=ie value="UTF-8">
<input type=submit name=btnG value="Google 検索">
<input type=hidden name=domains value="jarp.does.notwork.org"><br>
<input type=radio name=sitesearch value=""> WWW を検索
<input type=radio name=sitesearch value="jarp.does.notwork.org" checked> jarp.does.notwork.org を検索 <br>
</form>

<!-- nsmm v${version} -->

<address><a href="&#109;&#x61;&#x69;&#108;&#116;&#111;&#x3A;&#101;&#98;&#x61;&#110;&#64;&#x6F;&#x73;&#x2E;&#x72;&#105;&#109;&#46;&#x6F;&#x72;&#x2E;&#106;&#x70;">わたなべひろふみ</a><br>
Key fingerprint = C456 1350 085F A320 C6C8  8A36 0F15 9B2E EB12 3885<br>
      <a href="https://validator.w3.org/check?uri=referer"><img
          src="https://www.w3.org/Icons/valid-html401"
          alt="Valid HTML 4.01!" height="16" width="88"></a>

</address>

</body>
</html>
