<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ja-JP">
<head>
<title>Just another Ruby porter,</title>
<meta http-equiv="Content-Type" content="text/html; charset=${charset}">
<meta name="author" content="わたなべひろふみ">
<meta http-equiv="Content-Style-Type" content="text/css">
<META http-equiv="Content-Script-Type" content="text/javascript">
<link rel="stylesheet" href="/xblog/assets/css/basic.css" type="text/css" media="all">
<link rel="shortcut icon" type="image/x-icon" href="/xblog/favicon.ico">
<link rel="icon" type="image/png" href="/xblog/favicon.png">
<link rel="alternate" type="application/rss+xml" title="RSS" href="feed.xml">
<link rev="made" href="&#109;&#x61;&#x69;&#108;&#116;&#111;&#x3A;&#101;&#98;&#x61;&#110;&#64;&#x6F;&#x73;&#x2E;&#x72;&#105;&#109;&#46;&#x6F;&#x72;&#x2E;&#106;&#x70;">
<link rel="index" href="./">

</head>
<body>
<div><h1><span>Just another Ruby porter,</span></h1></div>
<hr>

<h2><a href="{{ page.url | absolute_url }}">{{ page.date | date: "%Y-%m-%d" }}</a></h2>
<div class="entry1">
